table
{
	border-style: solid;
	border-width: 0.5;
	border-color: #000000;
}

td, th
{
	border-style: solid;
	border-width: 0.05;
	border-color: #C7BBBE;
}

td:not(:first)
{
	width: 100%;
}

input
{
	width: 100%;
}
